/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    display: flex;

}

h1{
    float: left;
}

ul{
    list-style-type: none;
    float: right;
    padding-top: 1.5em;
}

li{
    display: inline;
}